@use '../utils/var' as *;
@use '../utils/function' as *;

//recruit
.recruit{
    &--top{
        max-width: 105rem;  
        height: 60rem;
        margin: auto;
		background-position: center;
		background-repeat: no-repeat;
        background-image: url("@/assets/images/recruit/recruit-top.png");
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;
            font-size: 5.2rem;
			line-height: 1.5;
            font-weight: bold;
            color:#fff;
        }
		@include responsive(lg){
			height: 50rem;
			p{
				font-size: 3.8rem;
			}
		}
		@include responsive(md){
			height: 40rem;
			p{
				font-size: 2.4rem;
			}
		}
    }
	&--talent{
		background-image: url("@/assets/images/recruit/recruit-bg.png");
		padding: 8rem 0 10rem;
		margin-top: 12rem;
		h3{
			color:#fff;
		}
		.recruit--talent__wrap{
			display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:3.2rem;			
		}
		dl{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: space-between;
			padding: 6rem 0 8rem;
			height: 38rem;
			background: #fff;
			border-radius: 3rem;
			dt{
				font-family: 'play';
				font-size: 5.2rem;
				color:#0a31a8;
				font-weight: bold;
			}
			dd{
				strong{
					display: block;
					color:#1d1d1d;
					font-size: 2.5rem;
					font-weight: bold;
					margin-bottom: 2rem;
				}
				p{
					font-size: 1.7rem;
					color:#555555;
					line-height: 1.5;
				}
			}
		}
		@include responsive(lg){
			padding: 6rem 0 8rem;
			margin-top: 10rem;
			dl{
				padding: 4rem 0 6rem;
				height: 30rem;
				dt{
					font-size: 4.2rem;
				}
				dd{
					strong{
						font-size: 2rem;
						margin-bottom: 1.5rem;
					}
					p{
						font-size: 1.5rem;
					}
				}
			}
		}
		@include responsive(md){
			padding: 4rem 0 6rem;
			margin-top: 8rem;
			.recruit--talent__wrap{
				grid-template-columns: repeat(1, 1fr);
				gap:3.2rem;			
			}
			dl{
				padding: 2rem 0 4rem;
				height: 22rem;
				dt{
					font-size: 3.2rem;
				}
				dd{
					strong{
						font-size: 1.5rem;
						margin-bottom: 1rem;
					}
					p{
						font-size: 1.3rem;
					}
				}
			}
		}
	}
	&--step{
		margin-top: 12rem;
		ul{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			background: #ebeef8;
			border-radius: 3rem;
			li{
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap:3rem;
				justify-content: center;
				height: 33rem;
				text-align: center;
				background: #ebeef8;
				border-radius: 3rem;
				transition:  .3s ease;
				border: 1px solid transparent;
				&:after{
					opacity: 0;
					background-color: #fff;
					position: absolute;
					left: -2rem;
					top:50%;
					transform: translateY(-50%);
					display: block;
					content:'';
					background-image: url("@/assets/images/recruit/step_arrow.png");
					background-repeat: no-repeat;
					background-position: center;
					width: 4rem;
					height: 4rem;
					border-radius: 50%;
					box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
					visibility: hidden;
					transition:  .3s ease;
				}
				span{
					font-size: 1.5rem;
					color:#1d1d1d;
				}
				strong{
					font-size: 1.9rem;
					color:#1d1d1d;
				}
				&:hover{
					border: 1px solid #0a31a8;
					&:after{
						opacity: 1;
						visibility: inherit;
					}
					strong{
						color:#0a31a8;
					}
				}
			}
		}
		@include responsive(lg){
			margin-top: 10rem;
			ul{
				li{
					gap:3rem;
					height: 28rem;
					span{
						font-size: 1.3rem;
					}
					strong{
						font-size: 1.7rem;
					}
				}
			}
		}
		@include responsive(md){
			margin-top: 8rem;
			ul{
				grid-template-columns: repeat(2, 1fr);
				li{
					height: 25rem;
					span{
						font-size: 1.1rem;
					}
					strong{
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	&--field{
		margin-top: 12rem;
		&__wrap{
			display: flex;
			justify-content: space-between;
			gap:2.5rem;
		}
		&__left,
		&__right{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		&__left{
			.fir{
				margin-bottom: 12rem;
			}
		}
		&__right{
			text-align: right;
			.fir{
				margin-top: 20rem;
				margin-bottom: 36rem;
			}
		}
		&__item{
			img{
				margin-bottom: 3rem;
			}
			h4{
				font-size: 1.9rem;
				color:#0a31a8;
				margin-bottom: 1.5rem;
			}
			p{
				font-size: 1.7rem;
				color:#555555;
				line-height: 1.5;
			}
		}
		@include responsive(lg){
			margin-top: 10rem;
			&__item{
				img{
					margin-bottom: 2rem;
				}
				h4{
					font-size: 1.7rem;
					margin-bottom: 1rem;
				}
				p{
					font-size: 1.5rem;
				}
			}
		}
		@include responsive(md){
			margin-top: 8rem;
			&__wrap{
				flex-direction: column;
			}
			&__item{
				&.fir{
					margin-top: 0;
					margin-bottom: 0;
				}
				margin-bottom: 2rem !important;
				img{
					margin-bottom: 1rem;
				}
				h4{
					font-size: 1.5rem;
					margin-bottom: .5rem;
				}
				p{
					font-size: 1.3rem;
				}
			}
		}
	}
	&--benefits{
		h3{
			margin-top: 12rem;
		}
		.bg{
			height: 33rem;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("@/assets/images/recruit/benefits-bg.png");
		}
		ul{
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap:5rem 8rem;	
			margin-top: 4rem;
			li{
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				i{
					display: flex;
					align-items: center;
					justify-content: center;
					height: 16rem;
					width: 16rem;
					background: #ebeef8;
					border-radius: 50%;
				}
				span{
					display: block;
					margin-top: 2rem;
					font-weight: bold;
					font-size: 1.7rem;
				}
			}
		}
		@include responsive(lg){
			margin-top: 10rem;
			ul{
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap:5rem 8rem;	
				margin-top: 4rem;
				li{
					i{
						height: 12rem;
						width: 12rem;
					}
					span{
						font-size: 1.5rem;
					}
				}
			}
		}
		@include responsive(md){
			margin-top: 8rem;
			.bg{
				height: 20rem;
			}
			ul{
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap:5rem 8rem;	
				margin-top: 4rem;
				li{
					i{
						height: 8rem;
						width: 8rem;
					}
					span{
						font-size: 1.3rem;
					}
				}
			}
		}
	}
	&--ti{
		text-align: center;
		font-size: 4rem;
		margin-bottom: 4rem;
		@include responsive(lg){
			font-size: 3rem;
			margin-bottom: 3rem;
		}
		@include responsive(md){
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
}