@use '../utils/var' as *;
@use '../utils/function' as *;
@use 'sass:map';
@use 'sass:math';


// esg common
.esg--ti__txt{
    color: #555555;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 8rem;
    @include responsive(lg){
        margin-top: 2rem;
        font-size: 1.8rem;
        padding-bottom: 6rem;
    }
    @include responsive(md){
        margin-top: 1rem;
        font-size: 1.4rem;
        padding-bottom: 4rem;
    }
}

// 소통채널
.chnel{
    &__wrap{
        position: relative;
    }
    &__title{
        text-align: center;
        padding-bottom: 8rem;
        p{
            color: #555555;
            font-size: 2.5rem;
            b{
                font-weight: 400;
                color: #007ab4;
            }
        }
        @include responsive(lg){
            padding-bottom: 4rem;
            h3{
                font-size: 3rem;
            }
            p{
                margin-top: 2rem;
                font-size: 1.8rem;
            }
        }
        @include responsive(md){
            padding-bottom: 3rem;
            h3{
                font-size: 2rem;
            }
            p{
                margin-top: 1rem;
                font-size: 1.4rem;
            }
        }
    }
    &__row{
        padding: 7.55rem 0;
        border-top: 1px solid #c6c6c6;
        .wrap{
            &.flex{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
                gap: 0 13%;
                @include responsive(lg){
                    grid-template-columns: repeat(1, 1fr);
                    gap:0;
                }
            }
            .chnel__frm--col{
                @include responsive(lg){
                    &:nth-child(2){margin-top: 4rem;padding-top: 4rem;border-top: 1px solid #c6c6c6;}
                }
            }
        }
        @include responsive(lg){
            padding: 5rem 0;
        }
        @include responsive(md){
            padding: 4rem 0;
        }
    }
    &__frm{
        &--title{
            padding-bottom: 3.5rem;
            span{
                display: inline-block;
                color: #2d2d2d;
                font-weight: 700;
                font-size: 2.5rem;
                &.required{
                    position: relative;
                    &::after{
                        content:"*";
                        display: inline-block;
                        font-weight: 400;
                        color: #007ab4;
                        font-size: 0.76em;
                        margin-left: 0.3rem;
                    }
                }
            }
            p{
                color: #717171;
                font-size: 1.5rem;
                line-height: 1.6;
                margin-top: 3.5rem;
            }
            @include responsive(lg){
                padding-bottom: 2rem;
                span{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.3rem;
                    margin-top: 1.5rem;
                }
            }
        }
        &--type{
            display: flex;
            //grid-template-columns: repeat(2, 1fr);
            gap: 0 4rem;
            @include responsive(xl){
                gap: 0 2.5vw;
            }
            @include responsive(md){
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(2, 1fr);
            }
            @include responsive(sm){
                gap: 1rem;
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &--label{
            margin-bottom: 1rem;
            label{
                display: inline-block;
                color: #2d2d2d;
                font-size: 1.9rem;
                &.required{
                    position: relative;
                    &::after{
                        content:"*";
                        display: inline-block;;
                        color: #007ab4;
                        font-size: 1em;
                        margin-left: 0.3rem;
                    }
                }
                @include responsive(lg){
                    font-size: 1.5rem;
                }
                @include responsive(md){
                    //font-size: 1.3rem;
                }
            }
        }
        &--desc{
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            color: #717171;
        }
        &--input{
            display: flex;
            gap: 0 2rem;
            input{
                border-radius: 3rem;
            }
        }
        &--group{
            +.chnel__frm--group{
                margin-top: 3.5rem;
            }
            .form-textarea{
                height: 29rem;
            }
        }
    }
    &__end{
        display: flex;
        justify-content: center;
        gap: 0 1.5rem;
        button{
            color: #fff;
            font-size: 1.9rem;
            height: 6rem;
            width: 18rem;
            border-radius: 3rem;
            transition: all 0.25s;
            &:nth-child(1){
                background-color: #0a529d;
                border: 1px solid #0a529d;
                &:hover,
                &:focus{
                    background-color: #0660a5;
                }
            }
            @include responsive(lg){
                height: 4rem;
                width: 12rem;
                font-size: 1.4rem;
            }
        }
    }
}

/*
    별도
*/
#drop-area{
    border: 1px dashed #8e8e8e;
    background-color: #f0f0f0;
    padding: 6rem 0;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    @include responsive(lg){
        padding: 4rem 0;
    }
    .wrap{
        text-align: center;
        p{
            color: #2d2d2d;
            font-size: 1.9rem;
            margin-bottom: 2rem;
        }
        .button{
            color: #fff;
            background-color: #000;
            border-radius: 3rem;
            display: inline-flex;
            align-items: center;
            gap: 0 .7rem;
            font-size: 1.9rem;
            height: 6rem;
            padding: 0 3.5rem;
            cursor: pointer;
        }
        @include responsive(lg){
            p{
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }
            .button{
                font-size: 1.5rem;
                height: 5rem;
                padding: 0 2.5rem;
            }
        }
        @include responsive(md){
            .button{
                height: 4.5rem;
                font-size: 1.4rem;
            }
        }
    }
}

#file-list{
    margin-top: 3rem;
}
.files{
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 3rem;
        border-radius: 1rem;
        border: 1px solid #c6c6c6;
        + *{
            margin-top: 1rem;
        }
    }
    &__info{
        display: flex;
        align-items: center;
        gap: 0 0.5rem;
    }
    &__del{
        color: #555555;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        gap: 0 .9rem;
    }
    @include responsive(lg){
        &__item{
            padding: 1.2rem 1.5rem;
        }
        &__info{
            font-size: 1.4rem;
        }
        &__del{
            font-size: 1.4rem;
            gap: 0 .5rem
        }
    }
}
.fn_files_total{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    span{font-size: 1.9rem;color: #2d2d2d;}
    .count{
        display: flex;
        align-items: center;
        gap: 0 .4rem;
        .state-count{color: #0a529d;font-weight: 700;}
    }
    .btn_files_del{
        color: #555555;
        font-size: 1.7rem;
        align-items: center;
        padding: 0.8rem 2.5rem;
        border-radius: 1.6rem;
        background: #f6f6f6;
    }
    @include responsive(lg){
        span{
            font-size: 1.5rem;
        }
        .count{
            font-size: 1.4rem;
        }
        .btn_files_del{
            font-size: 1.4rem;
            gap: 0 .5rem;
        }
    }
}

.areement__row{
    margin-bottom: 8rem;
    border-bottom: 1px solid #cccccc;
}

.areement{
    &__content{
        border-radius: 1rem;
        padding: 2rem;
        background: #f6f6f6;
        ._first{
            line-height: 1.6;
            color: #555555;
            font-size: 1.9rem;
            padding-bottom: 2.5rem;
            @include responsive(lg){
                font-size: 1.4rem;
            }
        }
        ol{
            li{
                strong{
                    color: #2d2d2d;
                    font-size: 1.7rem;
                    @include responsive(lg){
                        font-size: 1.3rem;
                    }
                }
                p{
                    color: #555555;
                    font-size: 1.7rem;
                    margin-top: 1.5rem;
                    @include responsive(lg){
                        font-size: 1.3rem;
                        margin-top: 1rem;
                    }
                }
                +li{
                    margin-top: 1.5rem;
                    @include responsive(lg){
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    &__input{
        border-radius: 1rem;
        display: flex;
        justify-content: flex-start;
        padding-top: 2rem;
        @include responsive(lg){
            padding: 1rem;
        }
    }
}

//윤리경영
.esg--Ethics{
    &__li{
        border: 1px solid #c6c6c6;
        border-radius: 3rem;
        padding: 0 4rem;
        li{
            display: flex;
            align-items: center;
            gap:3rem;
            padding: 4rem 2rem;
            span{
                display: inline-block;
                border: 1px solid #2548b2;
                border-radius: 50%;
                color:#2548b2;
                width: 3.5rem;
                height: 3.5rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.7rem;
                flex-shrink: 0;
            }
            p{
                font-size: 1.9rem;
                color:#1d1d1d;
            }
            &+li{
                border-top: 1px solid #c6c6c6;
            }
        }
        @include responsive(lg){
            padding: 0 2rem;
            li{
                display: flex;
                align-items: center;
                gap:2rem;
                padding: 3rem 1.5rem;
                span{
                    width: 3rem;
                    height: 3rem;
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.7rem;
                }
            }
        }
        @include responsive(md){
            padding: 0 1rem;
            li{
                display: flex;
                align-items: center;
                gap:1rem;
                padding: 2rem 1rem;
                span{
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: 1.3rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// 환경경영
.esg--Environment{
    &__circle{
        background-image: url("@/assets/images/esg/Environment-bg.png");
        padding: 8rem 0 9.5rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h3{
        text-align: center;
        font-size: 4rem;
        color:#fff;
        margin-bottom: 4rem;
        @include responsive(lg){
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        @include responsive(md){
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
    .circle--wrap{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        li{
            width: 39rem;
            height: 39rem;
            display: flex;
            flex-direction: column;
            gap:3rem;
            border-radius: 50%;
            background-color: #fff;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            flex-shrink: 0;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            z-index: 4;
            span{
                color:#077bb6;
                font-size: 3.2rem;
            }
            p{
                font-size: 2.5rem;
                color:#1d1d1d;
                text-align: center;
            }
            &+li{
                margin-left: -5rem;
                z-index: 3;
                &+li{
                    z-index: 2;
                    &+li{
                        z-index: 1;
                    }   
                }
            }
        }
        @include responsive(lg){
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
            gap:3rem;
            li{
                width: 30rem;
                height: 30rem;
                &+li{
                    margin-left: 0rem;
                }
                span{
                    font-size: 2.8rem;
                }
                p{
                    font-size: 2.0rem;
                }
            }
        }
        @include responsive(md){
            li{
                width: 20rem;
                height: 20rem;
                &+li{
                    margin-left: 0rem;
                }
                span{
                    font-size: 2.2rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
    &__activity{
        background: #f3f3f3;
        padding: 12rem 0;
        h3{
            color:#000000;
        }
        .activity--box__wrap{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:3rem;
        }
        .activity--box{
            padding: 3rem;
            border-radius: 3rem;
            border: 1px solid #cbcbcb;
            background: #fff;
            img{
                margin-bottom: 3rem;
            }
            h4{
                font-size: 3.2rem;
                color:#1d1d1d;
                margin-bottom: 3rem;
            }
            ul{
                li{
                    position: relative;
                    font-size: 2.1rem;
                    padding-left: 15px;
                    margin-bottom: 1rem;
                    &:after{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        content:'';
                        width: 8px;
                        height: 8px;
                        background: #dbdbdb;
                        border-radius: 50% ;
                    }
                }
            }
        }
        @include responsive(lg){
            .activity--box__wrap{
                gap:2rem;
            }
            .activity--box{
                padding: 2rem;
                border-radius: 3rem;
                img{
                    margin-bottom: 2rem;
                }
                h4{
                    font-size: 2.5rem;
                    color:#1d1d1d;
                    margin-bottom: 2rem;
                }
                ul{
                    li{
                        font-size: 2.1rem;
                        padding-left: 15px;
                        &:after{
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
            }
        }
        @include responsive(md){
            padding: 6rem 0;
            .activity--box__wrap{
                grid-template-columns: repeat(1, 1fr);
                gap:1rem;
            }
            .activity--box{
                border-radius: 3rem;
                img{
                    margin-bottom: 1rem;
                }
                h4{
                    font-size: 1.8rem;
                    color:#1d1d1d;
                    margin-bottom: 1rem;
                }
                ul{
                    li{
                        font-size: 1.5rem;
                        padding-left: 10px;
                        &:after{
                            width: 4px;
                            height: 4px;
                        }
                    }
                }
            }
        }
    }
}

// 인권경영
.human--process{
    margin-top: 8rem;
    margin-bottom: 4rem;
    background: #f3f3f3;
    padding: 6rem 0;
    .container{
        display: flex;
        justify-content: space-between;
        gap:2rem;
    }
    &__wrap{
        display: flex;
        gap:3rem;
    }
    h4{
        position: relative;
        font-size: 3.2rem;
        padding-left: 3rem;
        &:after{
            position: absolute;
            left: 0;
            top: 1.1rem;
            display: block;
            content: '';
            background-image: url('@/assets/images/company/bullet-blue.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 1.7rem;
            height: 1.7rem;
        }
    }
    &__wrap{

    }
    &__item{
        position: relative;
        width: 21rem;
        height: 15rem;
        padding: 2rem;
        background: #fff;
        border-radius: 1.2rem;
        dt{
            font-size: 1.5rem;
            color:#077bb6;
            margin-bottom: 3rem;
        }
        dd{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            p{
                font-size: 1.9rem;
                white-space: nowrap;
                line-height: 1.5;
            }
        }
    }
}
@include responsive(lg){
    .human--process{
        margin-top: 6rem;
        margin-bottom: 3rem;
        background: #f3f3f3;
        padding: 4.5rem 0;
        .container{
            flex-direction: column;
        }
        &__wrap{
            justify-content: space-between;
            gap:2rem;
        }
        h4{
            font-size: 2.8rem;

        }
        &__item{
            height: 12rem;
            flex:1;
            padding: 1rem;
            dt{
                font-size: 1.7rem;
            }
            dd{
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@include responsive(md){
    .human--process{
        margin-top: 4rem;
        margin-bottom: 2rem;
        h4{
            font-size: 1.8rem;
            padding-left: 1.5rem;
            &:after{
                top:.5rem;
                width: 1rem;
                height: 1rem;
            }
        }
        &__wrap{
            gap:1rem;
        }
        &__item{
            height: 10rem;
            flex:1;
            padding: 1rem;
            dt{
                font-size: 1.3rem;
            }
            dd{
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.human--txt{
    border-top: 1px solid #1d1d1d;
    &__item{
        display: flex;
        align-items: center;
        gap:3rem;
        padding: 4rem 0;
        border-top: 1px solid #c6c6c6;
        span{
            width: 5%;
            text-align: center;
            font-size: 1.9rem;
            margin-right: 5%;
        }
        strong{
            width: 25%;
            font-size: 2.5rem;
        }
        p{
            width: 70%;
            font-size: 1.7rem;
            color:#555555;
            line-height: 1.4;
        }
    }
    @include responsive(lg){
        &__item{
            gap:2rem;
            padding: 3rem 0;
            span{
                font-size: 1.5rem;
            }
            strong{
                font-size: 2rem;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
    @include responsive(md){
        &__item{
            gap:1rem;
            padding: 2rem 0;
            span{
                font-size: 1.2rem;
            }
            strong{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.1rem;
            }
        }
    }
}


// ESG개요 
.esg-manage{
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:3rem;
        margin-bottom: 12rem;
        li{
            display: flex;
            flex-direction: column;
            border-radius: 3rem;
            padding: 3rem;
            text-align: center;
            border: 1px solid #c6c6c6;
            i{
                display: block;
                padding-bottom: 4rem;
                margin-bottom: 4rem;
                border-bottom: 1px solid #c6c6c6;
            }
            strong{
                display: block;
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.7rem;
                color:#555;
                line-height: 1.5;
            }
        }
        @include responsive(lg){
            margin-bottom: 8rem;
            gap:2rem;
            li{
                padding: 2rem;
                i{
                    padding-bottom: 3rem;
                    margin-bottom: 3rem;
                }
                strong{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
        @include responsive(md){
            margin-bottom: 6rem;
            grid-template-columns: repeat(1, 1fr);
            li{
                i{
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                }
                strong{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
}
.esg-strategy{
    text-align: center;
    background-image: url('@/assets/images/esg/strategy-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 12rem;
    .page--title{
        color:#fff;
    }
    .esg--ti__txt{
        color:#fff;
    }
    .strategy--txt{
        display: block;
        font-size: 5.2rem;
        color:#fff;
        margin-bottom: 8rem;
    }
    .circle--ti{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        color:#fff;
    }
    @include responsive(lg){
        .strategy--txt{
            font-size: 4.2rem;
            margin-bottom: 6rem;
        }
        .circle--ti{
            font-size: 2rem;
            font-size: 1.5rem;
        }
    }
    @include responsive(lg){
        .strategy--txt{
            font-size: 3.2rem;
            margin-bottom: 4rem;
        }
        .circle--ti{
            font-size: 2rem;
            font-size: 1.5rem;
        }
    }
}

.target--circle{
    background: rgba(255,255,255,0.4);
    border-radius:18rem;
    margin: auto;
    display: inline-flex;
    gap:3rem;
    padding: 3rem;
    margin-bottom: 5rem;
    li{
        position: relative;
        width: 29.5rem;
        height: 29.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: 50%;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 2rem;
        margin: 2rem;
        &::after{
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content:'';
            border: 2rem solid rgba(255,255,255,0.4);
        }
        span{
            display: block;
            font-size: 1.7rem;
            color:#077bb6;
        }
        p{
            font-size: 2.5rem;
            color:#000000;
        }
    }
    @include responsive(xl){
        li{
            position: relative;
            width: 24rem;
            height: 24rem;
        }
    }
    @include responsive(lg){
        gap:2rem;
        li{
            width: 20rem;
            height: 20rem;
            gap:2rem;
            span{
                font-size: 1.3rem;
            }
            p{
                font-size: 2rem;
            }
        }
    }
    @include responsive(md){
        display: flex;
        flex-direction: column;
        border-radius: 1.8rem;
        li{
            width: 100%;
            height: auto;
            border-radius: 1.8rem;
            margin: 0;
            span{
                font-size: 1.3rem;
            }
            p{
                font-size: 1.5rem;
            }
            &::after{
                display: none;
            }
        }
    }
}

.plan--circle{
    background-image: url('@/assets/images/esg/plan-bd.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius:18rem;
    margin: auto;
    display: inline-flex;
    gap:3rem;
    padding: 3rem;
    li{
        position: relative;
        width: 31.5rem;
        height: 31.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.9);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 2rem;
        span{
            display: block;
            font-size: 1.7rem;
            color:#077bb6;
        }
        p{
            font-size: 2.5rem;
            color:#000000;
        }
    }
    @include responsive(xl){
        li{
            position: relative;
            width: 24rem;
            height: 24rem;
        }
    }
    @include responsive(lg){
        gap:1;
        background-image: none;
        padding: 0;
        li{
            position: relative;
            width: 15rem;
            height: 15rem;
            padding: 1rem;
            gap:1rem;
            span{
                font-size: 1.3rem;
            }
            p{
                font-size: 1.6rem;
            }
        }
    }
    @include responsive(md){
        display: flex;
        flex-direction: column;
        border-radius: 1.8rem;
        li{
            width: 100%;
            height: auto;
            border-radius: 1.8rem;
            margin: 0;
            span{
                font-size: 1.3rem;
            }
            p{
                font-size: 1.5rem;
            }
            &::after{
                display: none;
            }
        }
    }
}