@use '../utils/var' as *;
@use '../utils/function' as *;
@use 'sass:map';
@use 'sass:math';
[data-layout=sub] {
    padding-bottom: 23rem;
    display: block;
    @include responsive(lg){
        padding-bottom: 15rem;
    }
    &.p-n{
        padding-bottom: 0;
    }
}
.sr-only {display: none;}
.md-show {
    @include responsive(md){
        display: none;
    }
}
.intro--banner{
    height: 100vh;
    background-color: transparent;
    background-position: center;
    background-size: 100% 100%;
    &.board{
        .intro--banner-background{
            background-image: url("@/assets/images/press_visual.png");
        }
    }
    &.company{
        .intro--banner-background{
            background-image: url("@/assets/images/company_visual.png");
        }
    }
    &.recruitment{
        .intro--banner-background{
            background-image: url("@/assets/images/recruitment_visual.png");
        }
    }
    &.recruitboard{
        .intro--banner-background{
            background-image: url("@/assets/images/recruitboard_visual.png");
        }
    }
    &.esg{
        .intro--banner-background{
            background-image: url("@/assets/images/esg_visual.png");
        }
    }
    @include responsive(lg){
        background-size: cover;
    }
    &_title{
        position: fixed;
        //transition: margin 0.25s;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        margin-top: 23rem;
        //height: 24rem;
        &.is-break{
            position: absolute;
        }
        @include responsive(lg){
            margin-top: 15rem;
        }
        &.is-break,
        &.is-active{
            h2,
            p{
                color: #fff;
            }
        }
        h2,p{
            transition: color 0.25s;
            text-align: center;
        }
        h2{
            font-family: 'play';
            font-weight: bold;
            color: #127ab7;
            font-size: 10rem;
            padding-bottom: 1rem;
            text-transform: uppercase;
        }
        p{
            color: #000;
            font-weight: normal;
            font-size: 2.1rem;
            line-height: 1.34;
        }
        @include responsive(lg){
            h2{
                font-size: clamp(5rem, 2.4vw, 10rem);
                padding-bottom: 1.5rem;
            }
            p{
                font-size: clamp(1.5rem, 1.8vw, 2.1rem);
            }
        }
    }
    .intro--depth{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-y: auto;
        .container{
            display: flex;
            justify-content: center;
            border-top: 1px solid rgba(255,255,255,0.5);
        }
        ul {
            display: inline-flex;
            li {
                a {
                    position: relative;
                    display: block;
                    color: #c6c6c6;
                    font-size: 2.1rem;
                    padding: 5rem 4rem;
                    transition: all .3s;
                    @include responsive(lg){
                        font-size: 1.6rem;
                        padding: 4rem 3rem;
                    }
                    @include responsive(md){
                        font-size: 1.2rem;
                        padding: 2.5rem 1rem;
                        text-align: center;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: all .3s;
                        width: 0;
                        height: 3px;
                        background: #fff;
                    }
                    &.active {
                        color: #fff;

                        &:after {
                            width: 100%;
                        }
                    }
                    &:hover:not(.active) {
                        color: #fff;

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
            &:hover {
                a.active:after {
                    width: 0;
                }
            }
            li a.active:hover:after {
                width: 100%;
            }
        }
    }
}
.page--title{
    text-align: center;
    font-size: 6.4rem;
    padding: 12rem 0;
    @include responsive(lg){
        font-size: 4.8rem;
        padding: 8rem 0;
    }
    @include responsive(md){
        font-size: 3.6rem;
        padding: 6rem 0;
    }
}
