<footer class="footer">
    <div class="footer--inner">
    <div class="gutter-xxl">
        <h2 class="footer-logo"><span class="sr-only">LTMetric</span></h2>
        <div class="footer--content">
            <div class="addr">
                <div>
                    <div class="flex">
                        <span>Address</span>
                        <p>서울 연구소 : 서울특별시 금천구 가산디지털1로 145</p>
                    </div>
                    <div class="flex">
                        <span>Tel</span>
                        <a href="tel:02-853-9557">02-853-9557</a>
                    </div>
                    <div class="flex">
                        <span>Fax</span>
                        <a href="tel:02-853-9556">02-853-9556</a>
                    </div>
                </div>
                <div>
                    <div class="flex">
                        <span>Address</span>
                        <p>(전주) 전라북도 전주시 덕진구 견훤로 209, 2층</p>
                    </div>
                    <div class="flex">
                        <span>Tel</span>
                        <a href="tel:063-241-8835">063-241-8835</a>
                    </div>
                    <div class="flex">
                        <span>Fax</span>
                        <a href="tel:063-244-8835">063-244-8835</a>
                    </div>
                </div>
                <div>
                    <div class="flex">
                        <span>E-mail</span>
                        <a href="mailto:contact@ltmetric.com">contact@ltmetric.com</a>
                    </div>
                </div>
            </div>
            <div class="family">
                <button class="dropdownButton" aria-haspopup="true" aria-expanded="false"
                    aria-controls="dropdownMenu1">
                    <span>Family Site</span>
                    <span class="material-symbols-outlined arw">
                        keyboard_arrow_down
                    </span>
                </button>
                <div id="dropdownMenu1" class="dropdown-content" role="menu">
                    <a href="https://gisalliance.co.kr/" role="menuitem" tabindex="-1" target="_blank">Alliance</a>
                    <a href="https://neospectra.co.kr/" role="menuitem" tabindex="-1" target="_blank">네오스펙트라</a>
                    <a href="https://all4land.com/" role="menuitem" tabindex="-1" target="_blank">올포랜드</a>
                    <a href="http://mhgis.co.kr/" role="menuitem" tabindex="-1" target="_blank">명화지리정보</a>
                </div>
            </div>
        </div>
        <div class="footer--copy">
            <div class="copyright">
                &copy; LTMETRIC. All rights reserved.
            </div>
            <div class="links">
                <a href="https://mail.all4land.com/ngw/app/#/" target="_blank" title=""><span class="sr-only">링크</span></a>
                <a href="https://www.youtube.com/channel/UCUMrzHCsZ2bjNWg23uQ0-og" target="_blank" title=""><span class="sr-only">유튜브</span></a>
            </div>
        </div>
    </div>
    </div>
</footer>

<button type="button" id="btnTop" title="맨 위로"><i></i></button>


<script type="module" src="/js/all.js"></script>
<script src="/js/modal.js"></script>