<footer class="footer">
    <div class="footer--inner">
    <div class="gutter-xxl">
        <h2 class="footer-logo"><span class="sr-only">올포랜드</span></h2>
        <div class="footer--content">
            <div class="addr">
                <div>
                    <p>서울 연구소 : 서울특별시 금천구 가산디지털1로 145</p>
                    <div class="tel">
                        <a href="tel:02-855-5724">+82 - 02-855-5724</a>
                        <a href="tel:02-857-5746">+82 - 02-857-5746</a>
                    </div>
                </div>
                <div>
                    <p>전주 본사 : 전라북도 전주시 완산구 아중로 33</p>
                    <div class="tel">
                        <a href="tel:063-287-5426">+82 - 063-287-5426</a>
                        <a href="tel:063-287-5427">+82 - 063-287-5427</a>
                    </div>
                </div>
            </div>
            <div class="family">
                <button class="dropdownButton" aria-haspopup="true" aria-expanded="false"
                    aria-controls="dropdownMenu1">
                    <span>Family Site</span>
                    <span class="material-symbols-outlined arw">
                        keyboard_arrow_down
                    </span>
                </button>
                <div id="dropdownMenu1" class="dropdown-content" role="menu">
                    <a href="https://gisalliance.co.kr/" role="menuitem" tabindex="-1" target="_blank">Alliance</a>
                    <a href="https://neospectra.co.kr/" role="menuitem" tabindex="-1" target="_blank">네오스펙트라</a>
                    <a href="https://www.ltmetric.com/" role="menuitem" tabindex="-1" target="_blank">엘티메트릭</a>
                    <a href="http://mhgis.co.kr/" role="menuitem" tabindex="-1" target="_blank">명화지리정보</a>
                </div>
            </div>
        </div>
        <div class="footer--copy">
            <div class="copyright">
                &copy; 2024 allforland. all rights reserved.
            </div>
            <div class="links">
                <a href="https://mail.all4land.com/ngw/app/#/" target="_blank" title=""><span class="sr-only">링크</span></a>
                <a href="https://www.youtube.com/channel/UCUMrzHCsZ2bjNWg23uQ0-og" target="_blank" title=""><span class="sr-only">유튜브</span></a>
            </div>
        </div>
    </div>
    </div>
</footer>

<button type="button" id="btnTop" title="맨 위로"><i></i></button>



<script src="/js/intro.js"></script>