<footer class="footer">
    <div class="footer--inner">
    <div class="gutter-xxl">
        <h2 class="footer-logo"><span class="sr-only">LTMetric</span></h2>
        <div class="footer--content">
            <div class="addr">
                <div>
                    <div class="flex">
                        <span>Address</span>
                        <p>서울 연구소 : 서울특별시 금천구 가산디지털1로 145</p>
                    </div>
                    <div class="flex">
                        <span>Tel</span>
                        <a href="tel:02-853-9557">02-853-9557</a>
                    </div>
                    <div class="flex">
                        <span>Fax</span>
                        <a href="tel:02-853-9556">02-853-9556</a>
                    </div>
                </div>
                <div>
                    <div class="flex">
                        <span>Address</span>
                        <p>(전주) 전라북도 전주시 덕진구 견훤로 209, 2층</p>
                    </div>
                    <div class="flex">
                        <span>Tel</span>
                        <a href="tel:063-241-8835">063-241-8835</a>
                    </div>
                    <div class="flex">
                        <span>Fax</span>
                        <a href="tel:063-244-8835">063-244-8835</a>
                    </div>
                </div>
                <div>
                    <div class="flex">
                        <span>E-mail</span>
                        <a href="mailto:contact@ltmetric.com">contact@ltmetric.com</a>
                    </div>
                </div>
            </div>
            <div class="family">
                <button class="dropdownButton" aria-haspopup="true" aria-expanded="false"
                    aria-controls="dropdownMenu1">
                    <span>Family Site</span>
                    <span class="material-symbols-outlined arw">
                        keyboard_arrow_down
                    </span>
                </button>
                <div id="dropdownMenu1" class="dropdown-content" role="menu">
                    <a href="https://gisalliance.co.kr/" role="menuitem" tabindex="-1" target="_blank">Alliance</a>
                    <a href="https://neospectra.co.kr/" role="menuitem" tabindex="-1" target="_blank">네오스펙트라</a>
                    <a href="https://all4land.com/" role="menuitem" tabindex="-1" target="_blank">올포랜드</a>
                    <a href="http://mhgis.co.kr/" role="menuitem" tabindex="-1" target="_blank">명화지리정보</a>
                </div>
            </div>
        </div>
        <div class="footer--copy">
            <div class="copyright">
                &copy; LTMETRIC. All rights reserved.
            </div>
            <div class="links">
                <a href="#" target="_blank" title=""><span class="sr-only">그룹웨어</span></a>
                <a href="https://youtube.com/channel/UCSu15Bpzz4oWRWCqX166IIg?si=vCb4TkWVgu2O5CDW" target="_blank" title=""><span class="sr-only">유튜브</span></a>
            </div>
        </div>
    </div>
    </div>
</footer>

<button type="button" id="btnTop" title="맨 위로"><i></i></button>


<script type="module" src="/js/all.js"></script>
<script src="/js/modal.js"></script>

<script>
    if(document.querySelector('.page_title')){
        const pageMainTitle = document.querySelector('.page_title');
        const pageSubDesc = document.querySelector('.sub_title_desc');

        // 글자 span으로 감싸기
        const text = pageMainTitle.textContent.trim();
        pageMainTitle.textContent = ''; // 기존 텍스트 비움
        text.split('').forEach(char => {
            const span = document.createElement('span');
            span.textContent = char;
            span.style.display = 'inline-block';
            span.style.transform = 'translateY(100%)'; // 초기 아래 위치
            pageMainTitle.appendChild(span);
        });

        // GSAP 타이틀 애니메이션
        gsap.to(".page_title span", {
            y: 0,
            duration: 1.3,
            stagger: 0.09,
            ease: "power3.out",
            onComplete: () => {
            gsap.fromTo(pageSubDesc,
                { y: 0, opacity: 0, filter: "blur(10px)" },
                { y: 0, opacity: 1, duration: 1, ease: "power3.out", filter: "blur(0px)" }
            );
            }
        });
        gsap.fromTo(".intro--banner-background",
            { clipPath: "circle(0% at 50% 50%)" },
            { clipPath: "circle(100% at 50% 50%)", duration: 1.3, ease: "power3.out" }
        );
    }
</script>