
<header class="header" id="header">
    <div class="header--container">
        <div class="container-xxl header--wrap">
            <h1 class="brand"><a href="./index.html" title="홈 바로가기"><span class="sr-only">올포랜드</span></a></h1>
            <nav>
                <ul id="gnb" class="gnb">
                    <li class="gnb--li1">
                        <a href="01-01-ceo.html" class="menuitem"><span>회사소개</span></a>
                        <div class="depth">
                            <ul>
                                {{> menulist}}
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="02-01-kukto.html" class="menuitem"><span>사업분야</span></a>
                        <div class="depth">
                            <ul>
                                {{> menulist}}
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="03-01-solution.html" class="menuitem"><span>솔루션</span></a>
                        <div class="depth">
                            <ul>
                                {{> menulist}}
                            </ul>
                        </div>
                    </li>
                    <li class="gnb--li1">
                        <a href="04-01-esg.html" class="menuitem"><span>ESG</span></a>
                        <div class="depth">
                            <ul>
                                {{> menulist}}
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="util">
                <div class="special-links"><a href="#" role="button"><span>Alliance</span><i></i></a></div>
                <div class="lang">
                    <a href="#" data-trigger="modal" data-target="eng"><i></i><span>EN</span></a>
                </div>
                <button type="button" class="mobile-button" id="btnMobile" title="메뉴 열림">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="black-dimmed"></div>