
@@if(page__name == '예시'){
<div class="modal" data-modal="video">
    <div class="modal__container">
        <div class="modal__body">
            <div class="modal__content">
                <div class="business__detail _video">
                    <header>
                        <button type="button" class="modal__close" title="닫기"><i class="icon icon-close _white">닫기</i></button>
                    </header>
                    <div id="videoContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@@if(page__name == '보도'){
<div id="PlayerModal" >
    <div class="player-content">
        <header>
            <h2 class="video-title">인도네시아 홍수 예측 및 경보 시스템</h2>
            <button class="close">
                <span></span>
            </button>
        </header>
        <div class="line-box"><div class="iframe-zone"><iframe src="https://www.youtube.com/embed/gSNv_T21m5s?autoplay=1" title="인도네시아 홍수 예측 및 경보 시스템" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe></div></div>
        <div class="video-con"><p><span style="font-size: 12px;">인도네시아 홍수 예측 및 경보 시스템</span></p></div>
    </div>
    <div class="black-bg"></div>
</div>
}